@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

body {
  font-family: 'Outfit', sans-serif;
  @apply bg-gray-50;
  /* font-family: 'Inria Sans', sans-serif; */
}
.register-form input,
.login-form input {
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 16px;
}
